PyQt5>=5.15
PyQtWebEngine>=5.15
requests>=2.31
beautifulsoup4>=4.12
lxml>=4.9
Pillow>=9.2
pystray>=0.19
pygame>=2.5.2
pywin32>=305
dashscope>=1.20.0
PyYAML>=6.0
pyperclip>=1.8
pycryptodome>=3.20
jmcomic>=2.6
pypdfium2>=4.30
fastapi>=0.111
uvicorn[standard]>=0.30
